<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

		
	<!-- 
		  System out, minimize the use of this.
	-->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yy-dd-MM HH:mm:ss.SSS} %-5p %C{1} - T[%X{tableid}] P[%X{playerid}] - %m%n"/>
			<!--param name="ConversionPattern" value="%d %-5p [%t] %C{1} (%F:%L) - %m%n"/-->
		</layout>		
	</appender>
	
	
	<!-- ****** SERVER LOG CATEGORIES ****** -->
	
	<category name="SYSLOG" additivity="false">
		<priority value="info"/>
		<appender-ref ref="STDOUT"/>
	</category>
	
	<category name="com.cubeia" additivity="false">
		<priority value="debug"/>
		<appender-ref ref="STDOUT" />
	</category>
	
	<category name="com.google" additivity="false">
		<priority value="info"/>
		<appender-ref ref="STDOUT" />
	</category>
	
	
	<!-- ****** ROOT ****** -->
	
	<root>
	  <priority value="info"/>
	  <appender-ref ref="STDOUT"/>
	</root>
	
</log4j:configuration>
